*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#000;
    color:#ff8800;
    padding:30px;
}

.contenedor{
    max-width:600px;
    margin:auto;
    background:#111;
    padding:25px;
    border-radius:10px;
    border:2px solid #ff8800;
    box-shadow:0 0 15px #ff8800;
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#ff8800;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#ff8800;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    background:#000;
    color:#ff8800;
    border:2px solid #ff8800;
    border-radius:5px;
    outline:none;
}

input:focus,
select:focus{
    box-shadow:0 0 10px #ff8800;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:5px;
    background:#ff8800;
    color:#000;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ffae42;
    box-shadow:0 0 15px #ff8800;
}

#resultado{
    margin-top:20px;
    padding:15px;
    background:#000;
    border:2px solid #ff8800;
    border-radius:5px;
    color:#ff8800;
}

#resultado h2{
    margin-bottom:10px;
    color:#ff8800;
}

strong{
    color:#ffae42;
}
/* BARRA DE NAVEGACION */

.navbar{
    background:#000;
    border-bottom:2px solid #f47521;
    display:flex;
    align-items:center;
    gap:20px;
    padding:15px;
    margin-bottom:20px;
}

.navbar a{
    color:#f47521;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover{
    color:white;
}

.dropdown{
    position:relative;
}

.dropbtn{
    background:#000;
    color:#f47521;
    border:1px solid #f47521;
    padding:8px 12px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#111;
    min-width:180px;
    border:1px solid #f47521;
    z-index:1000;
}

.dropdown-content a{
    display:block;
    padding:10px;
    color:#f47521;
}

.dropdown-content a:hover{
    background:#f47521;
    color:#000;
}

.dropdown:hover .dropdown-content{
    display:block;
}